html, body {
  height: 100%;
  width: 100%;
  background: #333;
}

input, button {
  padding: 20px 30px;
  margin: 10px;
  border-radius: 4px;
  border: none;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

input::placeholder {
  color: #fff;
}

input {
  color: #fff;
  background: #a29e9e;
}

button {
  background: #23ed2d;
}

button:hover {
  transition: ease-in;
  background: #44ff4d;
}