* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000;
}

.light {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080859;
}

.dark {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #224a4a;
}

.nav2 {
  gap: 80px;
  display: flex;
}

.nav2 h4 {
  font-size: 20px;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: larger;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #1e921e;
}

button:active:hover {
  background-color: #086808;
}