* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  color: #fff;
  width: 100%;
  height: 100%;
  background: #000;
}

.nav {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lightseagreen;
}

.nav2 {
  gap: 80px;
  display: flex;
}